oke_worker_node_image_ids = {
  "Oracle-Linux-8.10-2026.02.28-0-OKE-1.33.10-1402" = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaasa4pvuytqrw6yrbvu64546h5kveil6pi6a25jqt2w6pbu5mddcjq"
  "ol8-2026.08.24-OKE-1.36.1-fast-start"            = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaainskxvizzzkoflewe6knlb57a5exxifn525yq5jnhacq7w5yk2xa"
  "ubuntu-24-04-1787310882-OKE-1.36.1-fast-start"   = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaauv4zlgodt5lhs7466fo7w5t3eqhgbktur26inoq3ie7tdjt734zq"
}

clusters = {
  c = {
    compartment        = "dev"
    name               = "cluster"
    vcn                = "vcn"
    kubernetes_version = "v1.33.1"
    cluster_pod_network_options = {
      cni_type = "OCI_VCN_IP_NATIVE"
    }
    endpoint_config = {
      subnet               = "api_endpoint"
      is_public_ip_enabled = false
    }
    options = {
      service_lb_subnets      = ["svcs_lb"]
      open_id_connect_discovery = {
	is_open_id_connect_discovery_enabled = true
      }
    }
  }
}

node_pools = {
  n = {
    cluster            = "c"
    compartment        = "dev"
    kubernetes_version = "v1.33.1"
    name               = "pool"
    node_source_details = {
      image_name = "Oracle-Linux-8.10-2026.02.28-0-OKE-1.33.10-1402"
    }
    node_config_details = {
      node_pool_pod_network_option_details = {
	cni_type          = "OCI_VCN_IP_NATIVE"
	max_pods_per_node = 31
	pod_subnets       = ["nodes"]
      }
      placement_configs = [
	{
	  availability_domain = 1
	  subnet              = "nodes"
	},
	{
	  availability_domain = 2
	  subnet              = "nodes"
	},
	{
	  availability_domain = 3
	  subnet              = "nodes"
	}
      ]
      size = 1
    }
    node_eviction_node_pool_settings = {
      eviction_grace_duration              = "PT1M"
      is_force_delete_after_grace_duration = true
    }
    node_shape     = "VM.Standard.E3.Flex"
    ssh_public_key = "ssh-rsa ..."
  },
}
