vcns = {
  vcn = {
    cidr_blocks      = ["10.0.0.0/16"]
    display_name     = "vcn"
    dns_label        = "vcn"
    compartment      = "dev"
    is_ipv6enabled   = true
  },
}

internet_gateways = {
  ig = {
    vcn          = "vcn"
    display_name = "ig"
  },
}

nat_gateways = {
  ng = {
    display_name = "ng"
    vcn          = "vcn"
  },
}

service_gateways = {
  sg = {
    display_name = "sg"
    vcn          = "vcn"
  },
}

subnets = {
  svcs_lb = {
    display_name               = "svcs_lb"
    cidr_block                 = "10.0.20.0/24"
    dns_label                  = "svcslb"
    prohibit_public_ip_on_vnic = false
    security_lists             = ["svcs_lb"]
    route_table                = "public"
    vcn                        = "vcn"
    compartment                = "dev"
  },
  nodes = {
    display_name               = "nodes"
    cidr_block                 = "10.0.10.0/24"
    dns_label                  = "nodes"
    prohibit_internet_ingress  = false
    prohibit_public_ip_on_vnic = false
    security_lists             = ["nodes"]
    route_table                = "public"
    vcn                        = "vcn"
    compartment                = "dev"
  },
  kpo_pods = {
    display_name               = "kpo_pods"
    cidr_block                 = "10.0.32.0/22"
    dns_label                  = "kpopods"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    security_lists             = ["kpo_pods"]
    route_table                = "private"
    vcn                        = "vcn"
    compartment                = "dev"
  },
  api_endpoint = {
    display_name               = "api_endpoint"
    cidr_block                 = "10.0.0.0/28"
    dns_label                  = "apiendpoint"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    security_lists             = ["api_endpoint"]
    route_table                = "private"
    vcn                        = "vcn"
    compartment                = "dev"
  },
}
route_tables = {
  public = {
    display_name = "public"
    vcn          = "vcn"
    route_rules = [
      {
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ig_ig"
      },
    ],
  },
  private = {
    display_name = "private"
    vcn          = "vcn"
    route_rules = [
      {
	description         = "traffic to OCI services"
	destination         = "services"
	destination_type    = "SERVICE_CIDR_BLOCK"
	network_entity_name = "sg_sg"
      },
      {
	description         = "traffic to the internet"
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ng_ng"
      }
    ],
  },
}
security_lists = {
  svcs_lb = {
    vcn          = "vcn"
    display_name = "svcs_lb"
    egress_rules = [
      {
	description      = "SSH"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = 6
	stateless        = false
      },
    ]
    ingress_rules = [
      {
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 443
	  min = 443
	}
      },
      {
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 80
	  min = 80
	}
      },
      {
	description = "SSH"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 22
	  min = 22
	}
      },
      {
	description = "worker-nodes-to-native-ingress-controller"
	protocol    = "all"
	source      = "10.0.10.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
      },
    ]
  },
  api_endpoint = {
    vcn          = "vcn"
    display_name = "api_endpoint"
    egress_rules = [
      {
	description      = "Allow Kubernetes Control Plane to communicate with OKE"
	destination      = "services"
	destination_type = "SERVICE_CIDR_BLOCK"
	protocol         = 6
	stateless        = false
	tcp_options = {
	  max = 443
	  min = 443
	}
      },
      {
	description      = "All traffic to worker nodes"
	destination      = "10.0.10.0/24"
	destination_type = "CIDR_BLOCK"
	protocol         = 6
	stateless        = false
      },
      {
	description      = "Path discovery"
	destination      = "10.0.10.0/24"
	destination_type = "CIDR_BLOCK"
	protocol         = 1
	stateless        = false
	icmp_options = {
	  code = 4,
	  type = 3
	}
      }
    ]
    ingress_rules = [
      {
	description = "External access to Kubernetes API endpoint"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 6443
	  min = 6443
	}
      },
      {
	description = "Kubernetes worker to Kubernetes API endpoint communication"
	protocol    = "6"
	source      = "10.0.10.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 6443
	  min = 6443
	}
      },
      {
	description = "Kubernetes worker to control plane communication"
	protocol    = "6"
	source      = "10.0.10.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 12250
	  min = 12250
	}
      },
      {
	description = "Path discovery"
	protocol    = "1"
	source      = "10.0.10.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
	icmp_options = {
	  code = 4
	  type = 3
	}
      }
    ]
  },
  nodes = {
    vcn          = "vcn"
    display_name = "nodes"
    egress_rules = [
      {
	description      = "Access to Kubernetes API Endpoint"
	destination      = "10.0.0.0/28"
	destination_type = "CIDR_BLOCK"
	protocol         = "6"
	stateless        = false
	tcp_options = {
	  max = 6443
	  min = 6443
	}
      },
      {
	description      = "Allow nodes to communicate with OKE to ensure correct start-up and continued functioning"
	destination      = "services"
	destination_type = "SERVICE_CIDR_BLOCK"
	protocol         = "6"
	stateless        = false
	tcp_options = {
	  max = 443
	  min = 443
	}
      },
      {
	description      = "Allow pods on one worker node to communicate with pods on other worker nodes"
	destination      = "10.0.10.0/24"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      },
      {
	description      = "ICMP Access from Kubernetes Control Plane"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "1"
	stateless        = false
	icmp_options = {
	  code = 4
	  type = 3
	}
      },
      {
	description      = "Path discovery"
	destination      = "10.0.0.0/28"
	destination_type = "CIDR_BLOCK"
	protocol         = "1"
	stateless        = false
	icmp_options = {
	  code = 4
	  type = 3
	}
      },
      {
	description      = "Kubernetes worker to control plane communication"
	destination      = "10.0.0.0/28"
	destination_type = "CIDR_BLOCK"
	protocol         = "6"
	stateless        = false
	tcp_options = {
	  max = 12250
	  min = 12250
	}
      },
      {
	description      = "Worker Nodes access to Internet"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      },
      {
	description      = "native-ingress-controller"
	destination      = "10.0.20.0/24"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      },

    ]
    ingress_rules = [
      {
	description = "Allow pods on one worker node to communicate with pods on other worker nodes"
	protocol    = "all"
	source      = "10.0.10.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
      },
      {
	description = "Path discovery"
	protocol    = "1"
	source      = "10.0.0.0/28"
	source_type = "CIDR_BLOCK"
	stateless   = false
	icmp_options = {
	  code = 4
	  type = 3
	}
      },
      {
	description = "Inbound SSH traffic to worker nodes"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 22
	  min = 22
	}
      },

      {
	description = "native-ingress-controller-80"
	protocol    = "6"
	source      = "10.0.20.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 80
	  min = 80
	}
      },
      {
	description = "native-ingress-controller-443"
	protocol    = "6"
	source      = "10.0.20.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  max = 443
	  min = 443
	}
      },
      {
	description = "TCP access from Kubernetes Control Plane"
	protocol    = "6"
	source      = "10.0.0.0/28"
	source_type = "CIDR_BLOCK"
	stateless   = false
      }
    ]
  }
  kpo_pods = {
    vcn          = "vcn"
    display_name = "kpo_pods"
    egress_rules = [
      {
	description      = "Access to Kubernetes API Endpoint"
	destination      = "10.0.0.0/28"
	destination_type = "CIDR_BLOCK"
	protocol         = "6"
	stateless        = false
	tcp_options = {
	  max = 6443
	  min = 6443
	}
      },
      {
	description      = "Allow KPO pods to communicate with OKE services"
	destination      = "services"
	destination_type = "SERVICE_CIDR_BLOCK"
	protocol         = "6"
	stateless        = false
	tcp_options = {
	  max = 443
	  min = 443
	}
      },
      {
	description      = "Allow KPO pods to communicate with each other"
	destination      = "10.0.32.0/22"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      },
      {
	description      = "Allow KPO pods to communicate with nodes"
	destination      = "10.0.10.0/24"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      },
      {
	description      = "KPO pod subnet internet egress"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      },
      {
	description      = "Path discovery"
	destination      = "10.0.0.0/28"
	destination_type = "CIDR_BLOCK"
	protocol         = "1"
	stateless        = false
	icmp_options = {
	  code = 4
	  type = 3
	}
      }
    ]
    ingress_rules = [
      {
	protocol    = "1"
	source      = "10.0.0.0/28"
	source_type = "CIDR_BLOCK"
	stateless   = false
	icmp_options = {
	  code = 4
	  type = 3
	}
      },
      {
	protocol    = "6"
	source      = "10.0.0.0/28"
	source_type = "CIDR_BLOCK"
	stateless   = false
      },
      {
	protocol    = "all"
	source      = "10.0.10.0/24"
	source_type = "CIDR_BLOCK"
	stateless   = false
      },
      {
	protocol    = "all"
	source      = "10.0.32.0/22"
	source_type = "CIDR_BLOCK"
	stateless   = false
      }
    ]
  }
}
source_ids = {
  "Oracle-Linux-9.6-2025.09.16-0" = "ocid1.image.oc1.."
}

instances = {
  bastion = {
    compartment         = "dev"
    availability_domain = 1
    create_vnic_details = {
      assign_public_ip = true
      subnet           = "svcs_lb"
    }
    display_name = "bastion"
    shape        = "VM.Standard.E5.Flex"
    shape_config = {
      memory_in_gbs = 16
      ocpus         = 2
    }
    source_details = {
      source_name = "Oracle-Linux-9.6-2025.09.16-0"
    }
    ssh_public_keys = [
      "ssh-rsa ..."
    ]
    managed_cluster = "c"
    cloud_init = [
      {
	content_type = "text/cloud-config"
	filename     = "userdata/helm.yaml.tftpl"
      },
      {
        content_type = "text/cloud-config"
	filename     = "userdata/argocd-bootstrap.yaml.tftpl"
      }
    ]
  }
}
