apiVersion: oci.oraclecloud.com/v1beta1
kind: OCINodeClass
metadata:
  name: karpenter-general
spec:
  preBootstrapInitScript: ${preBootstrapInitScript}
  shapeConfigs:
    - ocpus: ${shapeConfigOcpus}
      memoryInGbs: ${shapeConfigMemoryInGbs}
  volumeConfig:
    bootVolumeConfig:
      imageConfig:
        imageType: OKEImage
        imageId: ${imageId}
  networkConfig:
    primaryVnicConfig:
      subnetConfig:
        subnetId: ${primaryVnicSubnetId}
      assignPublicIp: ${primaryVnicAssignPublicIp}
    secondaryVnicConfigs:
      - subnetConfig:
          subnetId: ${secondaryVnicSubnetId}
        ipCount: 8
        skipSourceDestCheck: true
