hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
replicaCount: 1
%{ if controllerImageRegistry != "" ~}
image:
  registry: "${controllerImageRegistry}"
  repositoryName: "${controllerImageRepository}"
  tag: "${controllerImageTag}"
%{ if controllerPullSecretName != "" ~}
imagePullSecrets:
  - name: "${controllerPullSecretName}"
%{ endif ~}
%{ endif ~}
serviceAccount:
  create: true
  name: "${serviceAccountName}"
settings:
  clusterCompartmentId: "${clusterCompartmentId}"
  vcnCompartmentId: "${vcnCompartmentId}"
  apiserverEndpoint: "${apiserverEndpoint}"
  ociVcnIpNative: true
  ipFamilies:
    - IPv4
