hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
replicaCount: 1
serviceAccount:
  create: true
  name: "${serviceAccountName}"
settings:
  clusterCompartmentId: "${clusterCompartmentId}"
  vcnCompartmentId: "${vcnCompartmentId}"
  apiserverEndpoint: "${apiserverEndpoint}"
  ociVcnIpNative: true
  ipFamilies:
    - IPv4
