#cloud-config
write_files:
  - path: /var/tmp/root-application.yaml
    permissions: "0644"
    content: |
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: ${gitops_root_app}
        namespace: ${argocd_namespace}
      spec:
        project: default
        source:
          repoURL: ${gitops_repo_url}
          targetRevision: ${gitops_revision}
          path: gitops/clusters/private-oke-karpenter
        destination:
          server: https://kubernetes.default.svc
          namespace: ${argocd_namespace}
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
  - path: /var/tmp/repository-secret.yaml
    permissions: "0600"
    content: |
      ${replace(chomp(gitops_repository_secret), "\n", "\n      ")}
runcmd:
  - su - opc -c 'export KUBECONFIG=/home/opc/.kube/config && helm repo add argo https://argoproj.github.io/argo-helm'
  - su - opc -c 'export KUBECONFIG=/home/opc/.kube/config && helm repo update'
  - su - opc -c 'export KUBECONFIG=/home/opc/.kube/config && helm upgrade --install ${argocd_release_name} argo/argo-cd --namespace ${argocd_namespace} --create-namespace --version ${argocd_chart_version} --wait'
  - if [ -s /var/tmp/repository-secret.yaml ] && grep -q '[^[:space:]]' /var/tmp/repository-secret.yaml; then su - opc -c 'export KUBECONFIG=/home/opc/.kube/config && kubectl apply -f /var/tmp/repository-secret.yaml'; fi
  - su - opc -c 'export KUBECONFIG=/home/opc/.kube/config && kubectl apply -f /var/tmp/root-application.yaml'
