#cloud-config
write_files:
  - path: /var/tmp/karpenter-values.yaml
    permissions: "0644"
    content: |
      ${replace(chomp(values_content), "\n", "\n      ")}
  - path: /var/tmp/ocinodeclass.yaml
    permissions: "0644"
    content: |
      ${replace(chomp(ocinodeclass_content), "\n", "\n      ")}
  - path: /var/tmp/nodepool.yaml
    permissions: "0644"
    content: |
      ${replace(chomp(nodepool_content), "\n", "\n      ")}
  - path: /var/tmp/test-workload.yaml
    permissions: "0644"
    content: |
      ${replace(chomp(test_workload_content), "\n", "\n      ")}
runcmd:
  - mkdir -p /home/opc/karpenter
  - mv /var/tmp/karpenter-values.yaml /home/opc/karpenter/values.yaml
  - mv /var/tmp/ocinodeclass.yaml /home/opc/karpenter/ocinodeclass.yaml
  - mv /var/tmp/nodepool.yaml /home/opc/karpenter/nodepool.yaml
  - mv /var/tmp/test-workload.yaml /home/opc/karpenter/test-workload.yaml
  - chown -R opc:opc /home/opc/karpenter
  - su - opc -c 'helm repo add karpenter-provider-oci https://oracle.github.io/karpenter-provider-oci/charts'
  - su - opc -c 'helm repo update'
  - su - opc -c 'helm upgrade --install ${release_name} karpenter-provider-oci/karpenter --version ${chart_version} --values /home/opc/karpenter/values.yaml --namespace ${namespace} --create-namespace'
  - su - opc -c 'kubectl apply -f /home/opc/karpenter/ocinodeclass.yaml'
  - su - opc -c 'kubectl apply -f /home/opc/karpenter/nodepool.yaml'
  - if [ -s /home/opc/karpenter/test-workload.yaml ] && grep -q '[^[:space:]]' /home/opc/karpenter/test-workload.yaml; then su - opc -c 'kubectl apply -f /home/opc/karpenter/test-workload.yaml'; fi
